<p id="notice"><%= notice %></p>

<h1>Estanteevs</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estanteevs.each do |estanteev| %>
      <tr>
        <td><%= estanteev.nome %></td>
        <td><%= link_to 'Show', estanteev %></td>
        <td><%= link_to 'Edit', edit_estanteev_path(estanteev) %></td>
        <td><%= link_to 'Destroy', estanteev, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estanteev', new_estanteev_path %>
